/* 
The CSS stylesheets written for the HTML homepage part of my gym website. Written by: Oseremen Godstime aka (devandytech).
License: No copyright intended, can be used or reproduce in anyways or means for educational purposes.
*/

/* A universal style attribute which affects all elements and html tag */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.monstserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

button.submit {
  font-family: "Lato", serif;
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-width: 100%;
  --secondary-width: 90%;
  --margin-padding: 1em;
  --secondary-margin-padding: 0.5em;
  --primary-color: #D9D9D9;
  --secondary-color: #1b263b;
  --color: black;
}
  
/* media element to target mobile responsiveness */
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  
  .container {
    width: 100%;
    margin: 0;
    background-color: var(--primary-color);
  }
  
  .nav-head {
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* logo image */
  .logo {
    width: 6em;
    height: 2em;
    margin: auto 0;
    color: #fff;
    display: block;
    padding-left: 0.7em;
  }
  
  /* styling for the burger menu navigation */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
    margin: 20px;
  }

  .line {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease
  }

  /* Menu Styles */
  .menu {
    width: 30%;
    text-align: center;
    display: none;
    position: absolute;
    top: 65px;
    right: 0px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    margin: 1em 0;
  }

  .menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
  }

  /* Active States */
  .menu.active {
    display: block;
  }

  .burger-menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-menu.active .line:nth-child(2)
 {
    opacity: 0;
  }

  .burger-menu.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* stlye for the header */
  header {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 15em;
    background: rgba(0, 0, 0, 0.2) url(background-image.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    border-top: 1px solid var(--secondary-color);
  }
  
  h1 {
    width: 80%;
    text-shadow: 3px 3px var(--color);
    color: #0077B6;
    margin: 0.5em auto;
    padding: 0;
    font-size: 2.5em;
    backdrop-filter: blur(1px);
  }
  
  header p {
    width: 80%;
    color: #F7F7F7;
    padding: 0;
    margin: auto;
    font-size: 1em;
  }
  
  a.cta-button-header {
    width: 30%;
    text-decoration: none;
    display: block;
    margin: 2em auto;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  .cta-button:hover, .cta-button-header:hover {
    background-color: #32CD32;
    color: var(--color);
    transform: translateY(-5px);
  }
  
  /* styles for first section(benefit) */
  section.first-section {
    margin: 0 auto; 
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
  }
  
  section h2 {
    text-align: center;
    margin: 1.5em auto;
    font-weight: bolder;
  }

  .sub-section {
    width: 80%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .appear {
    opacity: 1;
    transform: translateY(0);
  }
  
  .benefit-section-1 {
    margin: 5em auto 3em auto;
  }
  
  .benefit-section-2 {
    margin: 0 auto;
  }
  
  .benefit-section-3 {
    margin: 3em auto 7em auto;
  }
  
  .sub-section h3 {
    font-weight: bold;
    margin: 0 auto 1em auto;
  }
  
  .sub-section p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .image img {
    width: 30%;
    height: 20%;
    margin: 1em auto;
  }
  
  /* style for second section */
  /* styles for second section(services) */
  section.second-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--primary-color);
    text-align: center;
    padding-bottom: 5em;
  }
  
  .service-offer {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin: 1.8em 0 0 0;
    padding: 2.5em 1.5em;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .slide-from-right {
    transform: translateX(100px);
  }
  
  .slide-from-left {
    transform: translateX(-100px);
  }
  
  .service-offer:hover {
    border: 2px solid #32CD32;
    transform: translateY(-5px);
  }
  
  .service-offer img {
    width: 28%;
    height: 10%;
    margin: 1.5em auto 1em auto;
  }
  
  .service-offer h3 {
    padding-bottom: 1em;
    color: #0077B6;
    font-weight: bold;
  }
  
  .service-offer p {
    line-height: 1.5em;
    padding-bottom: 1.5em;
    color: var(--color);
  }
  
  .button {
    margin: 1em auto;
  }
  
  a.cta-button {
    width: 30%;
    text-decoration: none;
    margin: 0 auto;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  .explore {
    margin: 5em auto 0 auto;
  }
  
  a.explore-button {
    width: 30%;
    text-decoration: none;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #32CD32;
    border: none;
    transition: transform 0.3s ease-out;
  }
  
  a.explore-button:hover {
    color: #fff;
    background-color: #0077B6;
    border: 2px solid #32CD32;
    border-radius: 5px;
  }
  
  .scrolled {
    transform: scale(1.2);
  }
  
  /* style for third section(testimonial card) */
  section.third-section {
    padding-bottom: 5em;
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
  }
  
  .third-section h2 {
    margin: 2.8em auto;
  }
  
  span {
    color: #0077B6;
  }
  
  .review {
    width: 80%;
    margin: 2.8em auto;
    padding: 1.5em 1em;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    background-color: var(--primary-color);
    border-radius: 10px; /* added subtle rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added subtle shadow */
  }
  
  .review-header {
    display: flex; /* changed to flexbox for easier alignment */
    align-items: center; 
    padding: 0.8em;
  }
  
  .review-header img {
    width: 15%;
    margin-right: 0.8em;
    border-radius: 50%;
  }
  
  .same {
    border: 2px solid #32CD32;
  }
  
  .emily {
    border: 2px solid #0077B6;
  }

  .review-header p {
    margin: 0; /* removed margin */
  }
  
  p.testimony {
    margin: 1.2em auto;
  }

  .name {
    font-weight: bold; /* bolded name */
  }

  .customer {
    color: #666; /* darkened customer text */
  }
  
  /* animation */
  .left-fade {
    transform: translateX(-100px);
  }
  
  .right-fade {
    transform: translateX(100px);
  }
  
  .appear {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* style for the contact form(contact form) */
  .fourth-section {
    background-color: var(--primary-color);
    padding-bottom: 6em;
    margin: 0;
    border: 1px solid var(--primary-color);
  }
  
  .fourth-section {
    color: var(--color);
  }
  
  form {
    width: 80%;
    margin: auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  input, textarea {
    margin: 0.5em auto 2.5em auto;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid gray;
  }
  
  #firstname {
    width: 90%;
    padding: 0.9em;
  }
  
  #email {
    width: 90%;
    padding: 0.9em;
  }
  
  #subject {
    width: 90%;
    padding: 0.9em;
  }
  
  #message {
    width: 90%;
    padding: 0.8em 0.8em 6em 0.8em;
  }
  
  button.submit {
    width: 97.5%;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.9em;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  button.submit:hover {
    background-color: #32CD32;
    color: var(--color);
    border: 1px solid #32CD32;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--color);
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  input:focus, textarea:focus {
    border: 2px solid #32CD32;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
  }
 
  .user-name, .user-email, .user-subject, .user-message {
    font-weight: bold;
    color: #0077B6;
  }
  
  /* styles for footer */
  footer {
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0;
    border: 1px solid var(--secondary-color);
  }
  
  .contact, .links {
    width: 100%;
    margin: 0.8em 0 0.5em 0em;
    color: #13131A;
  }
  
  .social-icons {
    width: 100%;
    margin: 1em auto 1em auto;
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  .social-icons img  {
    width: 30px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;
  }
  
  .social-icons a {
    padding: 0 0.2em 0 0;
    margin-left: 1em;
  }
  
  .line-one {
    width: 90%;
    margin: auto;
  }
  
  .line-two {
    width: 100%;
    margin: 3em auto 0em auto;
  }
  
  .address, .email, .service-link, .tel, .about-link, .contact-link {
    margin-top: 0.8em;
    color: #F7F7F7;
  }
  
  .home-link a:hover, .service-link a:hover, .about-link a:hover, .contact-link a:hover, .email a:hover, .tel a:hover {
    color: #32CD32;
  }
  
  .contact a, .links a {
    text-decoration: none;
    color: #F7F7F7;
  }
  
  /* reminder! the margin where written this way because margin left has been applied before in line "381" with the class ".contact" */
  .links {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .headings {
    margin: 1em 0;
    font-size: 1.5em;
    color: #0077B6;
  }
  
  .top-button {
    width: 90%;
    margin: 3.5em auto 0 auto;
  }
  
  .back-to-top {
    width: 100%;
    padding: 0.8em;
    text-align: center;
    color: #13131A;
    background-color: #F7F7F7;
    border: 1px solid var(--primary-color);
  }
  
  .copyright {
    color: #F7F7F7;
    padding: 0;
    display: block;
    text-align: center;
    margin: 3em auto 2em auto;
  }
  
}

/* */
@media  only screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    margin: 0;
    background-color: var(--primary-color);
  }
  
  /* navigation head */
  .nav-head {
    width: 100%;
    padding: 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color);
    border: 1px solid ;
  }
  
  .logo {
    color: #fff;
  }
  
  nav ul li {
    display: inline;
    padding-left: 1.5em;
  }
  
  nav ul li:first-child {
    padding: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
  }
  
  /* header */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em 0;
    background: rgba(0, 0, 0, 0.2) url();
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
  }
  
  header h1 {
    font-size: 1.8em;
    backdrop-filter: blur(1px);
    text-shadow: 3px 3px var(--color);
    color: #0077B6;
  }
  
  header p {
    padding: 1em 0 1.5em 0;
    color: #F7F7F7;
  }
  
  a.cta-button-header {
    text-decoration: none;
    display: block;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  .cta-button:hover, .cta-button-header:hover {
    background-color: #32CD32;
    color: var(--color);
    transform: translateY(-5px);
  }
  
  /* styles for first section */
  section.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto; 
    padding: 2.5em 0;
    background-color: #F7F7F7;
  }
  
  section h2 {
    text-align: center;
    margin: 1.5em auto;
    font-weight: bolder;
  }

  .sub-section {
    width: 20%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .benefit-section-1 {
    /*margin: 5em auto 3em auto;*/
  }
  
  .benefit-section-2 {
    /*margin: 0 auto;*/
  }
  
  .benefit-section-3 {
    /*margin: 3em auto 7em auto;*/
  }
  
  .sub-section h3 {
    font-weight: bold;
    margin: 0 auto 1em auto;
  }
  
  .sub-section p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .image img {
    width: 30%;
    height: 20%;
    margin: 1em auto;
  }
  
  .second-section {
    padding: 2em auto;
    background-color: var(--primary-color);
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .service-offer {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin: 0 0.5em;
    padding: 2.5em 1.5em;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .service-offer img {
    width: 30%;
    margin: 1.5em auto 1em auto;
  }
  
  .service-offer h3 {
    padding-bottom: 1em;
    color: #0077B6;
    font-weight: bold;
  }
  
  .service-offer:hover {
    border: 2px solid #32CD32;
    transform: translateY(-5px);
  }
  
  .button {
    margin: 1.5em auto;
  }
  
  a.cta-button {
    width: 30%;
    text-decoration: none;
    margin: 0 auto;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  .explore {
    margin: 5em auto;
  }
  
  a.explore-button {
    width: 15%;
    display: block;
    margin: auto;
    text-decoration: none;
    padding: 0.5em 0.8em;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #32CD32;
    border: none;
    transition: transform 0.3s ease-out;
  }
  
  a.explore-button:hover {
    color: #fff;
    background-color: #0077B6;
    border: 2px solid #32CD32;
    border-radius: 5px;
  }
  
  .third-section {
    padding: 1em;
    background-color: #fff;
  }
  
  .review {
    width: 25%;
    margin: 1em auto 2em auto;
    padding: 1.5em 1em;
    transition: opacity 0.5s, transform 0.5s;
    background-color: var(--primary-color);
    border-radius: 10px; /* added subtle rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added subtle shadow */
  }
  
  .review-header {
    display: flex; /* changed to flexbox for easier alignment */
    align-items: center; 
    padding: 0.8em;
  }
  
  .review-header img {
    width: 15%;
    margin-right: 0.8em;
    border-radius: 50%;
  }
  
  .same {
    border: 2px solid #32CD32;
  }
  
  .emily {
    border: 2px solid #0077B6;
  }

  .review-header p {
    margin: 0; /* removed margin */
  }
  
  p.testimony {
    margin: 1.2em auto;
  }

  .name {
    font-weight: bold; /* bolded name */
  }

  .customer {
    color: #666; /* darkened customer text */
  }
  
  .fourth-section {
    padding: 1em 0 5em 0;
  }
  
  form {
    width: 50%;
    margin: auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  input, textarea {
    margin: 0.5em auto 2.5em auto;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid gray;
  }
  
  #firstname {
    width: 90%;
    padding: 0.9em;
  }
  
  #email {
    width: 90%;
    padding: 0.9em;
  }
  
  #subject {
    width: 90%;
    padding: 0.9em;
  }
  
  #message {
    width: 90%;
    padding: 0.8em 0.8em 6em 0.8em;
  }
  
  button.submit {
    width: 97.5%;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.9em;
    color: #fff;
    font-weight: bold;
    background-color: #0077B6;
    border: none;
  }
  
  button.submit:hover {
    background-color: #32CD32;
    color: var(--color);
    border: 1px solid #32CD32;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--color);
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  input:focus, textarea:focus {
    border: 2px solid #32CD32;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
  }
 
  .user-name, .user-email, .user-subject, .user-message {
    font-weight: bold;
    color: #0077B6;
  }
  
  /* styles for footer */
  footer {
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 2em 0;
    border: 1px solid var(--secondary-color);
  }
  
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .social-icons img  {
    width: 30px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;
  }
  
  .social-icons a {
    padding-right: 0.8em;
  }
  
  .info-links-1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em auto;
  }
  
   .line-one {
    width: 90%;
    margin: 1em auto;
  }
  
  .line-two {
    width: 100%;
    margin: 3em auto 0em auto;
  }
  
  .address, .email, .service-link, .tel, .about-link, .contact-link {
    margin-top: 0.8em;
    color: #F7F7F7;
  }
  
  .home-link a:hover, .service-link a:hover, .about-link a:hover, .contact-link a:hover, .email a:hover, .tel a:hover {
    color: #32CD32;
  }
  
  .contact a, .links a {
    text-decoration: none;
    color: #F7F7F7;
  }
  
  .links, .contact {
    text-align: left;
  }
  
  .headings {
    margin: 1em 0;
    font-size: 1.5em;
    color: #0077B6;
  }
  
  .top-button {
    width: 90%;
    margin: 3.5em auto 2em auto;
  }
  
  .back-to-top {
    width: 50%;
    padding: 0.8em;
    text-align: center;
    color: #13131A;
    background-color: #F7F7F7;
    border: 1px solid var(--primary-color);
  }
  
  .copyright {
    color: #F7F7F7;
    padding: 0;
    display: block;
    text-align: center;
    margin: 3em auto 2em auto;
  }
    
}
